.flex-group {
  display: flex;
  &.col {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  &.row {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex-item {
    &.grow {
      flex-grow: 1;
    }
  }
}