html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
#app {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
$layoutMainHeaderHeight: 30px;
.layout-main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  .layout-main__header {
    height: $layoutMainHeaderHeight;
    line-height: $layoutMainHeaderHeight;
  }
  .layout-main__main {
    position: absolute;
    top: $layoutMainHeaderHeight;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}